<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Mascotas</title>  
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body style="background-color: #664d17">
    <div id="app" class="container py-5 h-100 "  style="background-color: #f8f9fa"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"> 
                <img src="https://www.zarla.com/images/zarla-paraso-peludo-1x1-2400x2400-20210825-4wvhv9v6h6jqj4phdt3v.png?crop=1:1,smart&width=250&dpr=2"   width="50" height="50" class="d-inline-block align-top" alt=""> 
            </a> 
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link " href="../home/index.html">Home</a>  
                    <a v-if="user.type===1"class="nav-item nav-link " href="../admin/index.html">Administración</a> 
                    <a class="nav-item nav-link active" href="index.html">Adoptar Mascota </a>
                    <a class="nav-item nav-link" href="../adoptar/index.html">Dar en Adopción</a>
                 </div>
            </div>
            <div class=" my-2 my-lg-0">
                <button class="btn btn-dark my-2 my-sm-0" @click="logout()">Logout</button>
            </div>
        </nav>
        <div class="contenedor">
            <h1 class="card-title text-center" >Mascotas</h1>
            <div class="row border p-2">
                <div class="col-3 pt-2"  v-for="(item, index) of mascotas " :key="index" v-if="item.estado != true">
                    <div  class="card mx-0"  >
                        <img class="card-img-top" :src="item.foto" height="150vh">
                        <div class="card-body">
                            <h4 class="card-title text-center" >{{item.nombre}}</h4>
                            <hr class="my-0"> 
                            <div class="row"> 
                                <p  class="col-3 font-weight-bold px-1 mx-0 text-left" >Raza:</p>
                                <p class="col px-0 mx-0 text-left">{{item.raza}}</p>
                            </div>
                            <div class="row"> 
                                <p  class="col-4 font-weight-bold px-1 mx-0 text-left" >Edad:</p>
                                <p class="col  px-0 mx-0 text-left">{{item.edad}}</p>
                            </div>
                            <div class="row"> 
                                <p  class="col-5 font-weight-bold px-0 mx-0 text-left" >Género:</p>
                                <p class="col px-0 mx-0 text-left">{{item.genero}}</p>
                            </div>
                            
                            <hr class="my-1"> 
                            <div class="text-center">
                                <button   class="btn btn-primary" @click="adoptar(index)">adoptar</button>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
              
        </div>     
 
  
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="index.js"></script>
</html>
 